@import "../abstracts/_abstracts-dir";
.cardContainer {
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  width: 30%;
  border: solid 2px $grey;
  border-radius: $border-radius;
  transition: 0.4s ease all;
  cursor: pointer;
  h4 {
    color: $black;
    margin: 8px 0px;
  }
  span {
    margin: 0px;
  }
}
.cardContainer.active {
  border: solid 2px $primary;
}

.personIcon {
  height: 20px;
  width: 20px;
  transition: 0.4s ease all;
}

.personIcon.activeIcon {
  filter: invert(41%) sepia(89%) saturate(4609%) hue-rotate(237deg)
    brightness(90%) contrast(98%);
}

.bodyText {
  color: $grey;
}

@media (max-width: 768px) {
  .cardContainer {
    width: 80%;
    margin-bottom: 1rem;
  }
}
