@import "../abstracts/__abstracts-dir.scss";

.formButton {
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 1.5em;
  height: 30px;
  width: 90%;
  color: $white;
  background: $primary;
}

@media (max-width: $laptop-breakpoint) {
  .formButton {
    width: 100%;
  }
}
