@import "../abstracts/_abstracts-dir";
.formContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  h5 {
    color: $grey;
    margin: 4px 0px;
  }
  input {
    color: $black;
  }
}
.workURL {
  display: flex;
  align-items: center;
  h5 {
    padding-left: 8px;
    padding-right: 8px;

    font-size: 12px;
    display: flex;
    align-items: center;
    border: solid 1px $grey-transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: $grey-transparent;
    height: 100%;
  }
  input {
    width: 70%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.labelInput {
  margin: 8px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.optional {
  color: $grey-transparent;
}

@media (max-width: 768px) {
  .formContainer {
    width: 100%;
  }
}
