@import "../abstracts/__abstracts-dir.scss";

.formButton {
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 1.5em;
  height: 30px;
  width: 100%;
  color: $white;
  background: $primary;
}
