.main-card {
  width: 40%;
  height: 80%;
  display: grid;
  grid-template-rows: auto;
  row-gap: 8px;
  justify-items: center;
}

@media (max-width: 768px) {
  .main-card {
    width: 70%;
    row-gap: 0px;
  }
}

@media (max-width: 425px) {
  .main-card {
    width: 80%;
  }
}
