.main-card {
  width: 40%;
  height: $size-w-space;
  display: grid;
  grid-template-rows: auto;
  row-gap: 8px;
  justify-items: center;
}

@media (max-width: $laptop-breakpoint) {
  .main-card {
    width: 70%;
    row-gap: 0px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .main-card {
    width: $size-w-space;
  }
}
