@import "../abstracts/_abstracts-dir";

/* Form Progress */
.progress {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: $white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.progress .circle {
  border: solid 1px $grey-transparent;
  cursor: pointer;
}

.progress .bar {
  position: relative;
  background: $grey-transparent;
  width: 80px;
  height: 1.5px;
  top: -33px;
  margin-left: -1px;
  margin-right: -1px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: $grey;
  font-size: 17px;
}
.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: $primary;
}
.progress .bar.active {
  background: linear-gradient(to right, $primary 50%, $grey-transparent 50%);
}
.progress .circle.done .label {
  color: #fff;
  background: $primary;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: $white;
  background: $primary;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.progress .circle.active .title {
  color: $primary;
}
