@import "../abstracts/__abstracts-dir.scss";

input {
  background: $white;
  border: solid 1px $grey-transparent;
  border-radius: $border-radius-half;
  padding: 12px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
