// COLORS
$primary: #664de5;
$black: #151b28;
$white: #ffffff;
$grey: #8c8c8c;
$grey-transparent: #8c8c8c41;

// BORDER
$border-radius: 8px;
$border-radius-half: 4px;

//MARGIN
$component-margin: 1rem 0rem;

// SIZE
$size-w-space: 80%;

// VIEW BREAKPOINTS
$mobile-breakpoint: 425px;
$laptop-breakpoint: 768px;
